<% include ../partials/boilerplate %>

<div class="form-page">
  <div class="edit">
    <form action="/flashcards/<%= flashcard.id%>?_method=PUT" method="POST">
      <input 
        type="text" 
        name="question" 
        placeholder="Question" 
        value="<%= flashcard.question %>" />
      <input 
        type="text" 
        name="answer" 
        placeholder="Answer" 
        value="<%= flashcard.answer %>"  />
      <input 
        type="text" 
        name="category" 
        placeholder="Category" 
        value="<%= flashcard.category %>" />
      <input 
        type="number" 
        name="difficulty" 
        placeholder="Difficulty" 
        value="<%= parseInt(flashcard.difficulty) %>" />
      <input type="submit" value="Edit it!" />
    </div>
  </form>

  <a href="/flashcards/<%=flashcard.id %>">Back to flashcard</a>
</div>
<% include ../partials/end %>
