<% include ../partials/boilerplate %>

<div class="flashcard-single-container">
  <div class="flashcard">
    <p class="question"><%= flashcard.question %></p>
    <h3><%= flashcard.answer %></h3>
    <div class="meta">
      <span class="category"><%= flashcard.category %></span>
      <span class="difficulty">Difficulty: <%= flashcard.difficulty %></span>
      <% if (current_user === flashcard.user_id) { %>
        <a class="editlink" href="/flashcards/<%=flashcard.id%>/edit">Edit</a>
        <form class="delete" action="/flashcards/<%= flashcard.id%>?_method=DELETE" method="POST">
            <input class="dellink" type="submit" value="Delete">
        </form>
     <% } %>
    </div>
    <a class="linktosingle" href="/flashcards">Back to all flashcards</a>
  </div>
</div>

<% include ../partials/end %>
